
<!--Include our own css-->
<link rel="stylesheet" href="css/addRoom.css">

<!-- MaartenCSS rules all -->
<link rel="stylesheet" href="css/booking.css">

<div class="container">
    <row>
        <h1>Add Room</h1>
    </row>
    <br>
    <form class="formcenter" onsubmit="return false">
        <div class="row">
            <div class="col-25">
                <div id="roomNumberText"></div>
                <label for="roomNumber">Booking number</label>
            </div>
            <div class="col-75">
                <input type="number" id="roomNumber" name="roomNumber" placeholder="Room Number" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="roomType">Room Type</label>
            </div>
            <div class="col-75">
                <select id="roomType" required>
                    <option value="Budget">Budget</option>
                    <option value="Normal">Normal</option>
                    <option value="Luxurious">Luxurious</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="roomSize">Room Size</label>
            </div>
            <div class="col-75">
                <select id="roomSize" required>
                    <option value="OnePerson">One person</option>
                    <option value="TwoPerson">Two persons</option>
                    <option value="ThreeFourPerson">Three or four persons</option>
                    <option value="FiveSixPerson">Five or six persons</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="dateAvailable">Date Available</label>
            </div>
            <div class="col-75">
                <input type="date" class="form-control" id="dateAvailable" placeholder="Date Available" required>
            </div>
        </div>

        <div class="row">
            <input id="submitButton" type="submit" value="Add Room">
        </div>

    </form>
</div> <!-- /container -->

<script src="js/addRoom.js"></script>