
<!--Include our own css-->
<link rel="stylesheet" href="css/addRoom.css">

<!-- MaartenCSS rules all -->
<link rel="stylesheet" href="css/booking.css">


<div class="container">
    <row>
        <h1>Add Room</h1>
    </row>
    <br>
    <form class="formcenter" data-toggle="validator" role="form" id="roomForm">
        <div class="row form-group">
            <div class="col-25">
                <div class="control-label" id="roomNumberText"></div>
                <label for="roomNumber">Room number</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="roomNumber" name="roomNumber" placeholder="Room Number" value="" data-error="Please fill in a room number." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="roomType">Room Type</label>
            </div>
            <div class="col-75">
                <select id="roomType" class="form-control">
                    <option value="Budget">Budget</option>
                    <option value="Normal">Normal</option>
                    <option value="Luxurious">Luxurious</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="roomSize">Room Size</label>
            </div>
            <div class="col-75">
                <select id="roomSize" >
                    <option value="OnePerson">One person</option>
                    <option value="TwoPerson">Two persons</option>
                    <option value="ThreeFourPerson">Three or four persons</option>
                    <option value="FiveSixPerson">Five or six persons</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <input id="submitButton" type="submit" value="Add Room" onclick="changeSubmitCheckToOne();">
        </div>
        <div class="row form-group">
            <input id="updateButton" type="submit" value="Update" onclick="changeSubmitCheckToZero();">
        </div>

    </form>
</div> <!-- /container -->

<script>
    $(document).ready(function(){
        $("#form").validator();
    });
</script>
<script src="js/addRoom.js"></script>