<div class="container">
    <row>
        <h1>Booking form</h1>
    </row>
    <br>
    <form class="formcenter" data-toggle="validator" role="form" id="bookingForm">
        <div class="row form-group">
            <div class="col-25">
                <div id="startDateText"></div>
                <label for="startDateText">Start Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="startDate" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <div id="endDateText"></div>
                <label for="endDateText">End Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="endDate" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
            <div id="guestText"></div>
            <label for="guestText">Guest</label>
            </div>
            <div class="col-75">
            <select id="guestSelect" required></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
            <div id="roomNrText"></div>
            <label for="roomSelect">Room Number</label>
            </div>
            <div class="col-75">
                <select id="roomSelect" required></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <div id="checkedInText"></div>
                <label for="CheckedInText">Checked in?</label>
            </div>
            <div class="col-75">
                <select id="checkedIn" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <br>

        <!--<div class="row form-group">-->
            <!--<input type="submit" value="Submit">-->

        <div id="submit-buttons" class="row">
            <input id="add-booking-btn" type="submit" value="Submit" onclick="changeSubmitCheckToOne()">
            <input id="update-booking-btn" type="submit" value="Update" onclick="changeSubmitCheckToZero()">
        </div>
    </form>
</div>

<link rel="stylesheet" href="css/booking.css">
<script src="js/createBooking.js"></script>

