<div class="jumbotron text-center">
    <h1>sSaint Nicolas Lake Resort</h1>
    <p>- Welkom bij ons hotel -</p>
</div>
<!-- cards for the dashboard -->
<div class="container-fluid">
    <div class="row">

        <!-- guestcard -->
        <div class="col-md-4">
            <div class="card">
                <a onclick="changeContent('views/guestsoverview.html')">
                    <div class="card-body">
                        <h4 class="card-title"><span class="glyphicon glyphicon-user"></span> Guests</h4>
                    </div>
                </a>
            </div>
        </div>

        <!-- roomscard -->
        <div class="col-md-4">
            <div class="card">
                <a onclick="changeContent('views/rooms.html')">
                    <div class="card-body">
                        <h4 class="card-title"><span class="glyphicon glyphicon-bed"></span> Rooms</h4>
                    </div>
                </a>
            </div>
        </div>

        <!-- Bookingscard -->
        <div class="col-md-4">
            <div class="card">
                <a onclick="changeContent('views/getBookingTable.html')">
                    <div class="card-body">
                        <h4 class="card-title"><span class="glyphicon glyphicon-book"></span> Bookings</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>