<script src="js/getBookingTable.js"></script>
<button class="btn btn-default" onclick="changeContent('views/createBooking.html')">Add booking</button>
<h1>Bookings overview</h1>
<table id="DataTableBooking">
    <thead>
        <tr>
            <th></th>
            <th>Booking no.</th>
            <th>Guest name</th>
            <th>Room no.</th>
            <th>Start of stay</th>
            <th>Number of nights</th>
            <th>Checked in</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>