<script src="js/getBookingTable.js"></script>

<button type="button" class="btn btn-primary" onclick="clearForm();" data-toggle="modal" data-target="#bookingModal">
    + add booking
</button>
<button class="btn btn-default" onclick="getSelectedBooking();">Edit</button>

<h1>Bookings overview</h1>

<div class="form-group">
    <div id="bookingNotAddedError" class="alert alert-danger" style="display:none;">
        The booking was not added because the booking already exists.
    </div>
    <div id="bookingAddedMessage" class="alert alert-info" style="display:none;">
        The booking was added.
    </div>
</div>

<table id="DataTableBooking">
    <thead>
        <tr>
            <th></th>
            <th>Guest name</th>
            <th>Room no.</th>
            <th>Start of stay</th>
            <th>End of stay</th>
            <th>Checked in</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- The Modal -->
<div class="modal fade" id="bookingModal">
    <div class="modal-dialog">
        <div class="modal-content" id="bookingModalContainer">
            <!-- Include create booking modal -->
            <script>
            $(document).ready(function(){
                loadModal("views/createBooking.html", "#bookingModalContainer");
            });
            </script>
        </div>
    </div>
</div>
