<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styleforguests.css">
    <script src="../js/guests.js"></script>
    <script>
        getGuests();
    </script>
</head>
<body>

<div class="container">

    <div class="panel panel-default panel_css">
        <div class="panel-heading">Guest List</div>
        <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for guests">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
        <table class="table table-striped" id="myTable">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Guest ID</th>
                <th>Edit guest</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>