<script src="js/guestModal.js"></script>
<link rel="stylesheet" type="text/css" href="css/styleforguests.css">

<!-- MaartenCSS rules all -->
<link rel="stylesheet" href="css/booking.css">

<div class="container">
    <row>
        <h1>Fill in the guest's details here.</h1>
    </row>
    <br>
    <form class="formcenter" data-toggle="validator" role="form" id="guestForm">

        <div class="row form-group">
            <div class="col-25">
                <label for="firstNameInput">First name</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name" data-error="Please fill in your first name." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="lastNameInput">Last name</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name" data-error="Please fill in your last name." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="addressInput">Address</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="addressInput" placeholder="Enter street name" data-error="Please fill in your street name." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="houseNumberInput">House Number</label>
            </div>
            <div class="col-75">
                <input type="number" class="form-control" id="houseNumberInput" placeholder="Enter street number" data-error="Please fill in your street number" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="zipCodeInput">Zipcode </label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="zipCodeInput" placeholder="Enter zipcode" data-error="Please fill in your zipcode." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="cityInput">City</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="cityInput" placeholder="Enter city" data-error="Please fill in a city." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="countryInput">Country</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="countryInput" placeholder="Enter country" data-error="Please fill in a country" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="phoneNumberInput">Phone number</label>
            </div>
            <div class="col-75">
                <input type="tel" class="form-control" id="phoneNumberInput" placeholder="Enter phone number" data-error="Please fill in a phone number." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="emailInput">Email</label>
            </div>
            <div class="col-75">
                <input type="email" class="form-control" id="emailInput" placeholder="Enter email" data-error="Please fill in your email address." required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-25">
                <label for="checkBoxConfirmation">Information</label>
            </div>
            <div class="col-75">
                <input type="checkbox" id="checkBoxConfirmation"> I would like to receive a confirmation of my reservation on my email address.
            </div>
        </div>
        <div class="row">
            <input type="submit" id="submitButton" value="Submit">
        </div>
    </form>
</div>