
<script src="js/guests.js"></script>

<button type="button" class="btn btn-primary" onclick="addGuest()">
    + add Guest
</button>
<button type="button" class="btn btn-default" onclick="getSelectGuest()">Edit</button>

<h1>Guest overview</h1>

<div class="form-group">
    <div id="guestAddedError" class=" alert alert-danger" style="display:none;">
        The guest was not added somehow..
    </div>
    <div id="guestAddedMessage" class=" alert alert-info" style="display:none;">
        The guest was added.
    </div>
</div>

<table id="guestTable" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Zipcode</th>
        <th>City</th>
        <th>Country</th>
        <th>Phone number</th>
    </tr>
    </thead>
</table>

<!-- The Modal -->
<div class="modal fade" id="guestModal">
    <div class="modal-dialog">
        <div class="modal-content" id="guestModalContainer">
            <!-- Include create booking modal -->
            <script>
            $(document).ready(function(){
                loadModal("views/guests.html", "#guestModalContainer");
            });
            </script>
        </div>
    </div>
</div>