
<script src="js/guests.js"></script>
<link rel="stylesheet" type="text/css" href="css/styleforguests.css">

<!-- MaartenCSS rules all -->
<link rel="stylesheet" href="css/booking.css">

<div class="container">
    <row>
        <h1>Fill in the guest's details here.</h1>
    </row>
    <br>
    <form class="formcenter" onsubmit="return false" data-toggle="validator" role="form">

        <div class="row">
            <div class="col-25">
                <label for="firstNameInput">First name</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="firstNameInput" placeholder="Enter first name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lastNameInput">Last name</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="lastNameInput" placeholder="Enter last name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="addressInput">Address</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="addressInput" placeholder="Enter street name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="houseNumberInput">House Number</label>
            </div>
            <div class="col-75">
                <input type="number" class="form-control" id="houseNumberInput" placeholder="Enter street number">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="zipCodeInput">Zipcode </label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="zipCodeInput" placeholder="Enter zipcode">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="cityInput">City</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="cityInput" placeholder="Enter city">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="countryInput">Country</label>
            </div>
            <div class="col-75">
                <input type="text" class="form-control" id="countryInput" placeholder="Enter country">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="phoneNumberInput">Phone number</label>
            </div>
            <div class="col-75">
                <input type="tel" class="form-control" id="phoneNumberInput" placeholder="Enter phone number">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="emailInput">Email</label>
            </div>
            <div class="col-75">
                <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="checkBoxConfirmation">Information</label>
            </div>
            <div class="col-75">
                <input type="checkbox" id="checkBoxConfirmation"> I would like to receive a confirmation of my reservation on my email address.
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default" id="submitButton">Submit</button>
        </div>
    </form>
</div>