<!-- include our own script -->
<script src="js/overview.js"></script>
<script src="js/roomEdit.js"></script>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roomModal">
    + add Room
</button>
<button type="button" class="btn btn-default" onclick="getSelectRoom()">
    Edit Room
</button>
<h1>Room overview</h1>

<div class="form-group">
    <div id="roomNotAddedError" class="alert alert-danger" style="display:none;">
        The room was not added because the room already exists.
    </div>
    <div id="roomAddedMessage" class="alert alert-info" style="display:none;">
        The room was added.
    </div>
</div>

<table id="roomTable" class="table">
    <thead>
    <tr>
        <th></th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Size</th>
    </tr>
    </thead>
    <tbody id="overviewBody">
    <!--Add rows-->
    </tbody>
</table>

<!-- The Modal -->
<div class="modal fade" id="roomModal">
    <div class="modal-dialog">
        <div class="modal-content" id="roomModalContainer">
            <!-- Include create booking modal -->
            <script>
            $(document).ready(function(){
                loadModal("views/addRoom.html", "#roomModalContainer");
            });
            </script>
        </div>
    </div>
</div>
