body {
    background: #e6f2ff;
    background: -webkit-linear-gradient(bottom, rgb(230, 247, 255), rgb(0, 174, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgb(230, 247, 255), rgb(0, 174, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgb(230, 247, 255), rgb(0, 174, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgb(230, 247, 255), rgb(0, 174, 255)); /* Standard syntax (must be last) */
}

.card {
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    overflow: hidden;
    cursor:pointer;
}

.card-body {
    padding: 10px;
    text-align:center;
}

.card a{
    text-decoration: none;
    color: black;
}

.card a:link {
    text-decoration: none;
    color: black;
}


.card a:hover {
    text-decoration: none;
    color: black;
}